@import "normalize.css";
@import "grid.css";
@import "fonts.css";



:root {
    --primary-color: #0ABEAD;
    --secondary-color: #F57F17;
    --text-color: #333333;
    --shadow-color: rgba(19, 182, 255, 0.24);
    --app-bg-color: #fff;
    --section-bg-color: #fff;
    --primary-font-bold: "Poppins Bold", Arial, Helvetica, sans-serif;
    --primary-font-SemiBold: "Poppins SemiBold", Arial, Helvetica, sans-serif;
    --secondary-font-md: "Poppins Medium", Arial, Helvetica, sans-serif;
    --secondary-font-black: "Poppins Black", Arial, Helvetica, sans-serif;
}

/* 


---Reset Styles


*/

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

}

/* 

---Component

*/

.app-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: #fff;
    width: 18rem;
    height: 5rem;
    font-family: var(--primary-font-SemiBold);
    font-size: 1.2rem;
    border-radius: 5rem;
}

.home__link--orange,
.about__link--orange {
    background-color: var(--secondary-color);
    box-shadow: 0 1.3rem 1.8rem -0.5rem rgba(245, 127, 23, 40%);

}

.section-head {
    text-align: center;
    margin-bottom: 6rem;
}

.section-head__title {
    font-family: var(--primary-font-bold);
    color: var(--primary-color);
    font-size: 4.8rem;
    margin: 0;

}

.section-head__caption {
    color: var(--text-color);
    word-spacing: 1rem;

}

.section-head__line {
    display: block;
    width: 24rem;
    height: .2rem;
    background-color: var(--primary-color);
    margin: 3rem auto;
    position: relative;
}

.section-head__line::after {
    content: " ";
    position: absolute;
    width: 3.8rem;
    height: 1.2rem;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10rem;
}

/* 

---Helper classes

*/

.align-items-center {
    align-items: center;

}











/*


--App--


*/



html {
    font-size: 62.5%;

}


body {

    font-family: "Poppins";
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--app-bg-color);
    color: var(--text-color);
    padding-top: 13rem;
}




/*


--Header


*/

.header {
    background-color: var(--app-bg-color);
    box-shadow: 0 .5rem 4rem rgba(4, 195, 255, .16);
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.container {}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-family: var(--secondary-font-black);
    font-size: 6rem;
    margin: 1rem 0;
    color: var(--primary-color);
}

.menu {
    display: flex;

    color: var(--text-color);
}

.menu__item {
    margin-left: 4rem;
    font-family: var(--secondary-font-md);
}

/* .menu__item:first-child {
    margin-left: 0;
} */

.menu__link {
    display: inline-block;
    transition: all 180ms ease-in;
    color: var(--text-color);

}

.menu__link:hover {
    color: var(--primary-color);
}

.menu__link--active {
    color: var(--primary-color);
}


.nav__toggle-icon {
    display: none;
    width: 4.5rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.nav__toggle-line {
    position: relative;
}

.nav__toggle-line,
.nav__toggle-line::after,
.nav__toggle-line::before {
    content: " ";
    width: 4rem;
    height: .4rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    transition: all 200ms ease-in-out;
}

.nav__toggle-line::before {
    top: 1.2rem;
    position: absolute;
}

.nav__toggle-line::after {
    bottom: 1.2rem;
    position: absolute;
}

.nav__toggle-icon--open .nav__toggle-line::before {
    transform: translateY(-1.2rem) rotate(45deg);
}


.nav__toggle-icon--open .nav__toggle-line::after {
    transform: translateY(1.2rem) rotate(-45deg);
}

.nav__toggle-icon--open .nav__toggle-line {
    background-color: transparent;
}

/*

--Main--

*/

.main {}

/* 

---Home---

*/

.home {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    background-image: url(../images/shapes/header-shape.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 82.5rem;
    width: 100%;

}

.home__content {
    display: flex;
    flex-direction: column;
}

.home__name {
    margin: 0;
    font-family: var(--primary-font-SemiBold);
    font-size: 2.5rem;
    color: var(--primary-color);
}

.home__name span {
    color: var(--secondary-color);
}

.home__title {
    font-family: var(--primary-font-bold);
    color: var(--primary-color);
    margin: 0;
    font-size: 5rem;
}

.home__description {
    margin-top: .95rem;
    font-size: 1.6rem;
    opacity: 0.7;

}

.home__links-wrapper {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;

}

.home__link,
.about__link {
    background-color: var(--primary-color);
    box-shadow: 0 1.3rem 1.8rem -0.5rem rgba(11, 190, 173, 40%);
}


.home__user-photo {
    width: 55rem;
    height: 55rem;
    border-radius: 100%;
    background: url(../images/header-avatar_auto_x1.jpg);
    background-size: cover;
    background-position: top center;
    object-fit: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 5rem 1.5rem rgba(96, 233, 255, 0.27);
    border: 2rem solid var(--app-bg-color);

}

.home__shape {
    width: 100%;
}




/* 


--About Us Section--


*/

.aboutus {
    margin-top: 6rem;
}

.section-head {}

.section-head__title {}

.section-head__caption {}

.section-head__line {}



.about {
    display: flex;
    box-shadow: 0 0 5rem 1.5rem rgba(96, 233, 255, 0.27);

}

.about__cover {
    flex-basis: 50%;
    flex-shrink: 0;


}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__content {
    flex-basis: 50%;
    flex-shrink: 0;
    padding: 4rem;


}

.about__title {
    font-family: var(--primary-font-SemiBold);
    font-size: 2.4rem;
    margin: 0;
    margin-bottom: 1.8rem;

}

.about__description {
    margin: 0;
    max-width: 53rem;
    margin-bottom: 6rem;
}

.about__list-title {
    margin: 0;
    font-family: var(--primary-font-SemiBold);
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.about-list {
margin-bottom: 3rem;

}

.about-list__item {
    margin-bottom: 1rem;
    position: relative;
    padding-left: 4rem;

}

.about-list__item::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--secondary-color);
     border-radius:4rem;
     top: 0;
     left: 1rem;
     bottom: 0;
     margin: auto;
     
}

.about__links-wrapper {
    display: flex;
    gap: 2rem;
}



.about__link {}

.about__link--orange {}