@import "normalize.css";
@import "grid.css";
@import "fonts.css";



:root {
    --primary-color: #0ABEAD;
    --secondary-color: #F57F17;
    --text-color: #333333;
    --shadow-color: rgba(19, 182, 255, 0.24);
    --app-bg-color: #fff;
    --section-bg-color: #fff;
    --primary-font-bold: "Poppins Bold", Arial, Helvetica, sans-serif;
    --primary-font-SemiBold: "Poppins SemiBold", Arial, Helvetica, sans-serif;
    --secondary-font-md: "Poppins Medium", Arial, Helvetica, sans-serif;
    --secondary-font-black: "Poppins Black", Arial, Helvetica, sans-serif;
}

/* 


---Reset Styles


*/

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

}



/* 

---Component

*/

.app-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: #fff;
    width: 18rem;
    height: 5rem;
    font-family: var(--primary-font-SemiBold);
    font-size: 1.2rem;
    border-radius: 5rem;
}

.home__link--orange,
.about__link--orange {
    background-color: var(--secondary-color);
    box-shadow: 0 1.3rem 1.8rem -0.5rem rgba(245, 127, 23, 40%);

}

.section-head {
    text-align: center;
    margin-bottom: 6rem;
}

.section-head__title {
    font-family: var(--primary-font-bold);
    color: var(--primary-color);
    font-size: 4.8rem;
    margin: 0;

}

.section-head__caption {
    color: var(--text-color);
    letter-spacing: 0.4rem;
}

.section-head__line {
    display: block;
    width: 24rem;
    height: .2rem;
    background-color: var(--primary-color);
    margin: 3rem auto;
    position: relative;
}

.section-head__line::after {
    content: " ";
    position: absolute;
    width: 3.8rem;
    height: 1.2rem;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10rem;
}



/* 

---Helper classes

*/

.align-items-center {
    align-items: center;

}

.reset-skew {
    transform: skewY(6deg);
}

.h-full {
    height: 100%;
}







/*


--App--


*/



html {
    font-size: 62.5%;

}


body {

    font-family: "Poppins";
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--app-bg-color);
    color: var(--text-color);
    padding-top: 13rem;
}




/*


--Header


*/

.header {
    background-color: var(--app-bg-color);
    box-shadow: 0 .5rem 4rem rgba(4, 195, 255, .16);
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.container {}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-family: var(--secondary-font-black);
    font-size: 6rem;
    margin: 1rem 0;
    color: var(--primary-color);
}

.menu {
    display: flex;

    color: var(--text-color);
}

.menu__item {
    margin-left: 4rem;
    font-family: var(--secondary-font-md);
}

/* .menu__item:first-child {
    margin-left: 0;
} */

.menu__link {
    display: inline-block;
    transition: all 180ms ease-in;
    color: var(--text-color);

}

.menu__link:hover {
    color: var(--primary-color);
}

.menu__link--active {
    color: var(--primary-color);
}


.nav__toggle-icon {
    display: none;
    width: 4.5rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.nav__toggle-line {
    position: relative;
}

.nav__toggle-line,
.nav__toggle-line::after,
.nav__toggle-line::before {
    content: " ";
    width: 4rem;
    height: .4rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    transition: all 200ms ease-in-out;
}

.nav__toggle-line::before {
    top: 1.2rem;
    position: absolute;
}

.nav__toggle-line::after {
    bottom: 1.2rem;
    position: absolute;
}

.nav__toggle-icon--open .nav__toggle-line::before {
    transform: translateY(-1.2rem) rotate(45deg);
}


.nav__toggle-icon--open .nav__toggle-line::after {
    transform: translateY(1.2rem) rotate(-45deg);
}

.nav__toggle-icon--open .nav__toggle-line {
    background-color: transparent;
}

/*

--Main--

*/

.main {}

/* 

---Home---

*/

.home {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    background-image: url(../images/shapes/header-shape.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 82.5rem;
    width: 100%;
}

.home__content {
    display: flex;
    flex-direction: column;
}

.home__name {
    margin: 0;
    font-family: var(--primary-font-SemiBold);
    font-size: 2.5rem;
    color: var(--primary-color);
}

.home__name span {
    color: var(--secondary-color);
}

.home__title {
    font-family: var(--primary-font-bold);
    color: var(--primary-color);
    margin: 0;
    font-size: 5rem;
}

.home__description {
    margin-top: .95rem;
    font-size: 1.6rem;
    opacity: 0.7;

}

.home__links-wrapper {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;

}

.home__link,
.about__link {
    background-color: var(--primary-color);
    box-shadow: 0 1.3rem 1.8rem -0.5rem rgba(11, 190, 173, 40%);
}


.home__user-photo {
    width: 55rem;
    height: 55rem;
    border-radius: 100%;
    background: url(../images/header-avatar_auto_x1.jpg);
    background-size: cover;
    background-position: top center;
    object-fit: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 5rem 1.5rem rgba(96, 233, 255, 0.27);
    border: 2rem solid var(--app-bg-color);

}

.home__shape {
    width: 100%;
}




/* 


--About Us Section--


*/

.aboutus {
    margin-top: 6rem;
    background-color: var(--app-bg-color);
}

.section-head {}

.section-head__title {}

.section-head__caption {}

.section-head__line {}



.about {
    display: flex;
    box-shadow: 0 0 5rem 1.5rem rgba(96, 233, 255, 0.27);

}

.about__cover {
    flex-basis: 50%;
    flex-shrink: 0;


}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__content {
    flex-basis: 50%;
    flex-shrink: 0;
    padding: 4rem;


}

.about__title {
    font-family: var(--primary-font-SemiBold);
    font-size: 2.4rem;
    margin: 0;
    margin-bottom: 1.8rem;

}

.about__description {
    margin: 0;
    max-width: 53rem;
    margin-bottom: 6rem;
}

.about__list-title {
    margin: 0;
    font-family: var(--primary-font-SemiBold);
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.about-list {
    margin-bottom: 3rem;

}

.about-list__item {
    margin-bottom: 1rem;
    position: relative;
    padding-left: 4rem;

}

.about-list__item::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 4rem;
    top: 0;
    left: 1rem;
    bottom: 0;
    margin: auto;

}

.about__links-wrapper {
    display: flex;
    gap: 2rem;
}



.about__link {}

.about__link--orange {}



/* 


--Services Section-->


*/

.services {
    margin-top: 6rem;
    background-color: var(--app-bg-color);
}

.section-head {}

.section-head__title {}

.section-head__caption {}

.section-head__line {}



.service {
    padding: 7rem 4rem;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 5;
    height: 100%;

}

.service--purple {
    background-color: #8540FF;
}

.service--yellow {
    background-color: #FFC50C;
}

.service--pink {
    background-color: #EC407A;
}

.service--orange {
    background-color: #FF6331;
}

.service--blue {
    background-color: #13B6FF;
}

.service--green {
    background-color: #49AF46;
}

.service__logo {}

.service__title {
    font-family: var(--primary-font-bold);
    font-size: 2.4rem;
    margin-bottom: 0;
    margin-top: 1.6rem;
}

.service__caption {
    margin-bottom: 0;
}

.service__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}


/*

 - Resume Section -

*/

.resume {
    margin-top: 12rem;
    box-shadow: 0 0 6rem rgb(19 182 255 / 24%);
    margin-bottom: 10rem;
    padding: 8rem 0;
    transform: skewY(-6deg);
    background-color: var(--section-bg-color);
}

.resume-list {
    background-color: var(--app-bg-color);
    box-shadow: 0 0 4rem rgb(96 233 255 / 27%);
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40rem;
    margin-right: 3rem;
}

.resume-list::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 4rem;
    z-index: -1;
}

.resume-list__item {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem 0;
    cursor: pointer;
}

.resume-list__item:last-child {
    margin-bottom: 0;
}

.resume-list__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--primary-color);
    width: 5.4rem;
    z-index: -1;
    border-radius: 3rem;
    transition: all 0.2s ease-in;
    max-width: 27rem;
}

.resume-list__item--active {
    color: #fff;
}

.resume-list__item--active::before {
    width: 100%;
}

.resume-list__icon {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 .8rem;
}

.resume-list__text {
    font-family: "Poppins SemiBold";
    font-size: 1.8rem;
    margin-left: 2.5rem;
    transition: all 0.2s ease-in;
}




.resume-content {
    border-left: .2rem solid var(--primary-color);
    padding-left: 3rem;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.35s ease-in;
}

.resume-content--show {
    height: auto;
    overflow: visible;
    opacity: 1;
}

.resume-content__item {
    margin-bottom: 2rem;
}

.resume-content__item:last-child {
    margin-bottom: 0;
}

.resume-content__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-content__title {
    color: #FF5823;
    font-family: "Poppins SemiBold";
    font-size: 1.8rem;
    margin: 0;
    position: relative;
}

.resume-content__title::before {
    content: "";
    position: absolute;
    left: -4rem;
    top: 0;
    bottom: 0;
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--primary-color);
    border-radius: 100%;
    margin: auto;
}

.resume-content__date {
    background-color: #F57F17;
    border-radius: 2rem;
    padding: .2rem 1.5rem;
    color: #fff;
    box-shadow: 0 0 4rem rgba(245, 127, 23, 24%);
}

.resume-content__subtitle {
    font-family: "Poppins SemiBold";
    font-size: 1.6rem;
    margin: 1rem 0;
}

.resume-content__description {
    margin: 0;
}


/*


Resume Section-->


*/

.portfolio {
    margin: 12rem 4rem 0 4rem;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    /* gap: 3rem; */
    flex-wrap: wrap;
}

.portfolio-list__item {
    padding: 1.2rem 3rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.portfolio-list__item--active {
    background-color: var(--primary-color);
    color: #fff;
}

.portfolio-content {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .2s ease-in;
}

.portfolio-content--show {
    height: auto;
    overflow: visible;
    opacity: 1;
}

.portfolio-content__img {
    width: 100%;

}

.swiper-pagination {
    position: static !important;
    margin-top: 1rem;
}

span.swiper-pagination-bullet {
    width: 1.8rem;
    height: 1.8rem;
    border: .3rem solid #BFBEBE;
    background-color: #fff;
}

span.swiper-pagination-bullet-active {
    border-color: var(--primary-color);
}


/* 


pricing Section--->


 */

.pricing {
    margin-top: 12rem;
    box-shadow: 0 0 6rem rgb(19 182 255 / 24%);
    margin-bottom: 10rem;
    margin-top: 17rem;
    padding: 8rem 0 17.5rem 0;
    transform: skewY(-6deg);
    background-color: var(--section-bg-color);

}


.package {
    box-shadow: 0 0 4rem rgba(96, 233, 255, 0.27);
}

.package__head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0;
    color: #fff;
}

.package__type {
    margin: 0;
    font-family: var(--primary-font-SemiBold);
    font-size: 3.2rem;
}

.package__price {
    font-family: var(--primary-font-SemiBold);
    font-size: 2.6rem;
    display: block;
    margin-bottom: .5rem;

}

.package__filter {}

.package__body {

    padding: 3rem 0 3.5rem 0;
}

.package_options {
    width: 17rem;
    margin: 0 auto;
}

.package-option__item {
    margin-bottom: 2rem;
}

.package-option__item:last-child {
    margin-bottom: 0;
}

.package-options__icon {
    margin-right: 1rem;
}

.package__link {
    margin: 2.5rem auto 0 auto;
    width: 18.5rem;
    height: 5.4rem;
    font-size: 1.5rem;
}

.package__head--orange {
    background-color: #FF6331;
}

.package__head--purple {
    background-color: #803AFB;
}

.package__head--pink {
    background-color: #F5276C;
}

.app-btn--orange {
    background-color: #FF6331;
    box-shadow: 0 3rem 3rem -1rem rgba(245, 127, 23, 24%);

}

.app-btn--purple {
    background-color: #803AFB;
    box-shadow: 0 3rem 3rem -1rem rgba(128, 58, 251, 24%);

}

.app-btn--pink {
    background-color: #F5276C;
    box-shadow: 0 3rem 3rem -1rem rgba(245, 39, 108, 24%);
}



/* 


Contact us Section---->


*/

.contactus {
    margin-top: 12rem;
}

.contactus__wrapper {
    background-image: url(../images/map_auto_x1.jpg);
    background-size: cover;
    height: 78rem;
    padding: 8rem 0 0 0;
}

.contactus__map {
    width: 5.7rem;
    height: 5.7rem;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 34rem;
    left: 44rem;
    box-shadow: 0 0 5rem 1rem rgba(96, 233, 255, 27%);

}

.contactus__icon {
    width: 2rem;
}

.contact {
    background-color: var(--app-bg-color);
    box-shadow: 0 0 4rem rgba(19, 182, 255, 24%);
    max-width: 55rem;
    padding: 5.5rem 5rem;
    margin-left: auto;

}

.contact__title {
    font-family: var(--primary-font-bold);
    font-size: 3.2rem;
    color: var(--primary-color);
    margin: 0;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2.5rem;
}

.contact__input {
    border: none;
    outline: none;
    padding: 1.4rem 2.5rem;
    border-radius: 1rem;
    color: var(--text-color);
    box-shadow: 0 0 5rem 1rem rgba(96, 233, 255, 27%);
}

.contact__input::placeholder {
    color: inherit;
}


.contact__input--textarea {
    resize: vertical;
    max-height: 18rem;
    min-height: 5rem;
}

.contact__input:hover {
    background-color:#0abeacbf;
    color: #fff;
}

.contact__submit {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1.4rem;
    border-radius: 5rem;
    border: none;
    font-family: var(--primary-font-SemiBold);
    font-size: 1.8rem;
    cursor: pointer;
}